__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.vscode/
*.egg-info/
build/
dist/
.idea/
Docs/*
!Docs/
Docs/*
!Docs/Library_Borrowing_System_Coursework.pptx
!Docs/Library_Borrowing_System_Coursework_updated.pptx
!Docs/Library_Borrowing_System_Coursework_final.pptx